.second-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 3;
}

.elevator {
  flex: 1;
  background-size: cover;
  background-position: center;
  transition: transform 1.5s ease-in-out;
}

.elevator.left {
  transform: translateX(-100%);
}

.elevator.right {
  transform: translateX(100%);
}

.second-section.closing .elevator.left {
  transform: translateX(0);
}

.second-section.closing .elevator.right {
  transform: translateX(0);
}

.second-section.opening .elevator.left {
  transform: translateX(-100%);
}

.second-section.opening .elevator.right {
  transform: translateX(100%);
}