<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트</title>
</head>
<body>
    <div class ="layout">

      <table>
        <thead>
          <tr>
            <th> 글번호 </th>
            <th> 제목 </th>
            <th> 작성자 </th>
              <th> 작성 날짜 </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="board : ${list}">  <!-- list에서 board가 없어질 때까지 반복 -->
            <td th:text="${board.board_id}"> 1 </td>
            <td>
                <a th:text="${board.title}" th:href="@{/v1/board/view(board_id=${board.board_id})}">
                </a>
            </td>
              <td>
                  <p th:text="${board.author}"> </p>
              </td>
              <td>
                  <p th:text="${board.createtime}"> </p>
              </td>
          </tr>
        </tbody>
      </table>
        <a th:href="@{/v1/board/write}">글쓰기</a>
    </div>

</body>
</html>